@model IEnumerable<WebApplicationDemo.Models.EmployeesFull>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
    $(function () {
        $("#txtSearch").autocomplete({
            source: '@Url.Action("Autocomplete","Home")',
            minLength: 1
        });
    });
    </script>
    <script type="text/javascript">

        $(function () {
            $("#startDate").datepicker();
            var date = document.getElementById("startDate").value;
        });


        $(function () {
            $("#btn2").click(function () {

                var date = document.getElementById("startDate").value;

                alert(date);

                

            });
        });
        $(document).ready(function () {
            $("#btn2").click(function () {
                var date = document.getElementById("startDate").value;
                var f = {};
                f.url = '@Url.Action("FilterOutTableAfterDate", "Home")';
                f.type = "POST";
                f.dataType = "json";
                f.data = JSON.stringify({ date });
                f.contentType = "application/json";
                f.success = function (response) {
                    alert("success");
                };
                f.error = function (response) {
                    alert("failed");
                };
                $.ajax(f);
            });
        });

        $(function () {
            $("#btn1").click(function () {

                var date = document.getElementById("startDate").value;  
                
            });
        });
    </script>
    

</head>
<body>





    <div style="font-family:Arial">

        <p>
            <h1 style="font-size:20px">AutoComplete example</h1>
        </p>

        @using (Html.BeginForm())
        {
            <b>Name: </b>

            @Html.TextBox("searchTerm", null, new { id = "txtSearch" })

            <input type="submit" value="Search" id="btn1" />
        }
        

        <table border="1">

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                </tr>
            }

        </table>

    </div>

    <div style="font-family:Arial">

        <p>
            <h2 style="font-size:20px">Filter By Date example</h2>
        </p>

        @using (Html.BeginForm())
        {
            <b>Start Date: </b>

            @Html.TextBox("startDate", null, new { id = "startDate" })

            <select asp-for="startDate" input type="submit" Text="startDate" value="startDate" id="btn2" />


            <p>
                <select asp-for="SelectDate" asp-action="SelectDate" asp-items="Model.JoiningDate ">
                    <option value="">All</option>
                </select>

                Title: <input type="text" asp-action="SelectDate" />
                <input type="submit" value="Filter" />
            </p>
            <form asp-controller="Home" asp-action="SelectDate">

                <label>Comments</label>
                <input type="text" asp-for="Comments" />

                <label>Lucky Employee</label>
                <select asp-for="EmployeeId" asp-items="@Model">
                    <option>Please select one</option>
                </select>

                <input type="submit" />

            </form>
        }

        <table border="1">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JoiningDate)
                </th>
            </tr>

            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JoiningDate.Value)
                    </td>
                </tr>
            }
        </table>
    </div>

</body>

</html>
