
@model IEnumerable<WebApplicationDemo.Models.EmployeesFull>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<h2>AutoComplete example</h2>

<script type="text/javascript">
    $(function () {
        $("#txtSearch").autocomplete({
            source: '@Url.Action("Autocomplete","Home")',
            minLength: 1
        });
    });
</script>
<script type="text/javascript">
    var data1;
    $(function () {
        data1 = $("#startDate").datepicker();
        console.log(typeof(data1));
        return data1;
    });

    $(function () {
        $("#btn2").click(function () {
            alert(data1);
            SelectDate(data1)
        });
    });
</script>
<div style="font-family:Arial">
    @using (Html.BeginForm())
    {
        <b>Name: </b>

        @Html.TextBox("searchTerm", null, new { id = "txtSearch" })

        <input type="submit" value="Search" id="btn1"/>


    }

    <table border="1">


       @foreach (var item in Model)
        {
           <tr>
              <td>
                @Html.DisplayFor(modelItem => item.FullName)
              </td>            
           </tr>

        }

    </table>
</div>
<div style="font-family:Arial">
    @using (Html.BeginForm())
    {
        <b>Start Date: </b>

        @Html.TextBox("startDate", null, new { id = "startDate" })

        <input type="submit" Text="SelectDate" value="SelectDate" id="btn2" />


    }
    <table border="1">


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JoiningDate)
                </td>
            </tr>

        }

    </table>
</div>
